.section_buy_closse {
  display: none;
}

.section_buy {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background-color: rgba(6, 0, 41, 0.8);
  overflow-y: scroll;
  z-index: 9999;

  > div {
    position: relative;
    background-color: #ffffff;
    width: 80%;
    min-width: 400px;
    margin: 0px auto 200px;
    padding: 0px;
    color: $darkBlue;
    font-family: 'PT Sans Caption';
    line-height: 26px;

    @media screen and (max-width: 500px) {
      width: 100%;
      min-width: 300px;
    }

    background: linear-gradient(45deg, #0084ff, #24aadb, #27dbb1, #ffdc18);
    background-size: 600% 100%;
    animation: gradient 16s linear infinite;
    animation-direction: alternate;
  }
  h3 {
    color: white;
    font-size: 20px;
    margin: -25px 0px 30px -25px;
  }

  p {
    margin-top: 25px;
    font-size: 16px;
  }

  .product_kayak_cost {
    margin: 0px;
    #product_kayak_cost {
      color: white;
      text-shadow: 0px 0px 1px black;
    }
  }

  ul {
    li {
      font-size: 14px;
      margin-left: 15px;
    }
  }
  #list_buy_accessories {
    li {
      border-bottom: 1px solid white;
      width: 170px;

      input[type='button'] {
        padding: 3px 10px;
      }
    }
  }

  .form_buy_btn_closse {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 30px;
    border: none;
    font-weight: 900;
    background-color: transparent;
    padding: 0px;
    text-shadow: 0px 0px 5px orange;
  }

  .form_buy_btn_closse:hover {
    color: orange;
  }

  .block_thanks_none {
    display: none;
  }

  .block_thanks {
    min-height: 500px;
    width: 100%;
    padding: 50px 0px 100px;
    text-align: center;

    #block_thanks_closse{
      cursor: pointer;
      position: absolute;
      right: 20px;
      top: 15px;
      font-size: 30px;
    
      &:hover{
        color: white;
      }
    }

    .block_thanks_massage{
      margin: 0px;
    }
    #return{
      cursor: pointer;
      position: absolute;
      bottom: 20px;
      right: 20px;
      border: 1px solid black;
      border-radius: 20px;
      padding: 15px;

      &:hover{
        color: white;
        border-color: white;
      }
    }

    h2{
      font-size: 22px;
    }
  }

  .form_for_buy_none {
    display: none;
  }

  form {
    margin: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    @media screen and (max-width: 700px) {
      flex-direction: column;
    }
    > div {
      width: 50%;
      margin: auto;
      @media screen and (max-width: 700px) {
        width: 100%;
      }
    }

    @media screen and (max-width: 500px) {
      margin: 50px 0px;
    }

    input {
      display: inline-block;
      width: min-content;
      padding: 10px 20px;
      margin: 5px;
      border: 1px solid $lightBlue;
      background-color: #e8f0fe;
      font-size: 16px;

      &:hover {
        border-color: $darkBlue;
      }

      &:focus {
        border-color: orange;
      }
    }

    #form_buy_btn_submit {
      margin: 20px auto 0px;
      background: #162138;
      border-color: orange;
      color: orange;
      box-shadow: 0px 0px 10px -2px #162138;
      width: 150px;
    }
    #form_buy_btn_submit:hover {
      background: orange;
      border-color: #162138;
      color: #162138;
    }
    #form_buy_btn_submit:active {
      box-shadow: 0px 0px 10px -2px #162138 inset;
      font-size: 15px;
    }
  }
}

.wraper_list_buy_accessories {
  #list_buy_accessories {
    p {
      margin: 0px;
      font-size: 13px;
      span {
        color: white;
        text-shadow: 0px 0px 1px black;
      }
    }
    p:first-child {
      font-size: 18px;
    }
  }
}

#form_price {
  color: white;
  text-shadow: 0px 0px 1px black;
}
