.header {
  width: 100%;
  height: 100vh;

  background: $lightBlue url(../img/Edit3.jpg) no-repeat center;
  background-size: cover;

  font-family: 'Alice', serif;
  .menu {
    font-family: 'PT Sans Caption', sans-serif;
    position: fixed;
    width: 100%;
    z-index: 1000;

    a:visited,
    a:link,
    a {
      color: white;
      text-decoration: none;
      transition: 0.3s;
    }

    .phone_menu {
      transition: 1s;
      display: flex;
      position: fixed;
      top: -150vh;
      height: 100vh;
      width: 250px;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 30px;

      background-image: linear-gradient(rgba(6, 0, 41, 0.8), rgba(6, 0, 41, 0.95));

      @extend %font_large;

      .phone_list {
        display: flex;
        flex-direction: column;
        overflow: scroll;
        margin-top: 80px;
        border-left: 1px solid $lightBlue;

        @media screen and (max-height: 650px) {
          font-size: 20px;
        }

        @media screen and (max-height: 550px) {
          font-size: 16px;
          .phone_list_item {
            margin-bottom: 0px;
          }
        }

        .phone_list_item {
          padding: 10px;
          margin-bottom: 10px;
          border-bottom-width: 2px;
          border-style: solid;
          border-color: transparent;
        }

        .phone_list_item:hover {
          border-color: $lightBlue;
        }

        #phone_btn_order a {
          color: orange;
        }
      }

      .phone_social_list {
        display: flex;
        flex-direction: row;
        justify-content: start;
        margin-bottom: 40px;

        li {
          padding: 0px 10px;
        }
        li a:hover {
          color: $lightBlue;
        }
      }
    }
    @media screen and (max-width: 1000px) {
      .phone_menu_active {
        top: 0px;
      }
    }

    .menu_list {
      height: 77px;
      background-color: transparent;
      background-image: linear-gradient($darkBlue-opacity_6, $darkBlue-opacity_2);
      width: 100%;
      max-width: 1440px;
      margin: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0px 20px;
      @media screen and (max-width: 1000px) {
        background-image: none;
      }

      .btn_phone_menu {
        display: none;
        transition: 0.4s;
        cursor: pointer;
        position: fixed;
        transform: translate(-50%, -50%);
        top: 35px;
        left: 35px;

        .bar1,
        .bar2,
        .bar3 {
          transition: 0.5s;
          width: 28px;
          height: 3px;
          background-color: white;
          box-shadow: 0px 0px 5px 0px black;
          margin: 5px 0;
        }

        @media screen and (max-width: 1000px) {
          display: inline-block;
        }
      }
      .btn_phone_menu_active {
        z-index: 101;
        position: fixed;

        .bar1 {
          transform: rotate(-45deg) translate(-4px, 4px);
        }

        .bar2 {
          opacity: 0;
        }

        .bar3 {
          transform: rotate(45deg) translate(-6px, -7px);
        }
      }

      #logo {
        img {
          width: 75px;
          position: relative;
          top: 2px;
          background-color: rgba(0, 4, 44, 0.3);
          border-radius: 50%;
        }
        @media screen and (max-width: 1000px) {
          position: absolute;
          right: 20px;
        }
      }

      .item_desktop_menu {
        display: flex;
        flex-direction: row;
        text-transform: uppercase;
        li {
          margin: 0px 20px;

          @media screen and (max-width: 1100px) {
            margin: 0px 15px;
            font-size: 15px;
          }
        }
        li a:hover {
          color: $lightBlue;
        }
        @media screen and (max-width: 1000px) {
          display: none;
        }
      }

      .menu_social_item {
        display: flex;
        flex-direction: row;
        position: relative;
        right: 40px;

        li {
          margin: 0px 5px;
          font-size: 24px;

          a:visited,
          a:link,
          a {
            color: white;
          }
        }
        li:hover a {
          color: $lightBlue;
        }

        @media screen and (max-width: 1000px) {
          display: none;
        }
      }
    }
    @keyframes forNavBtn {
      0% {
        transform: rotate(0deg);
      }
      85% {
        transform: rotate(0deg);
        right: 20px;
      }
      88% {
        transform: rotate(30deg);
        right: 30px;
      }
      91% {
        transform: rotate(-20deg);
      }
      94% {
        transform: rotate(10deg);
      }
      97% {
        transform: rotate(-5deg);
        right: 20px;
      }
      100% {
        transform: rotate(0deg);
      }
    }

    #btn_order,
    #btn_ask {
      animation: forNavBtn 4s linear 0s infinite;
      display: block;
      position: fixed;
      height: 50px;
      width: 50px;
      text-align: center;
      @extend %font_large;
      color: black;
      text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
      line-height: 50px;
      border-radius: 50%;
      right: 20px;
      bottom: 110px;
      background-color: rgba(255, 196, 0, 0.9);
      box-shadow: 0px 0px 10px -4px black;
    }
    #btn_order{
      span{
        display: none;
        position: absolute;
        background-color: red;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        font-size: 13px;
        line-height: 20px;
        right: -5px;
        top: -5px;
      }
    }

    .btn_order_alert::after,
    .btn_ask_alert::after {
      cursor: pointer;
      display: block;
      position: relative;
      line-height: 15px;
      border: 1px solid orange;
      color: black;
      padding: 15px 20px;
      border-radius: 50px;
      border-bottom-right-radius: 0px;
      width: 145px;
      left: -170px;
      bottom: 110px;

      font-size: 13px;
      background-color: white;

      @media screen and (max-width: 500px) {
        display: none;
        padding: 10px 15px;
        line-height: 13px;
        font-size: 11px;
        left: -75px;
        bottom: 130px;
        width: min-content;
      }
    }

    .btn_order_alert::after {
      content: 'Для перегляду кошика і оформлення замовлення натисніть тут';
    }

    .btn_ask_alert::after {
      content: 'Якщо виникло питання залиште заявку натиснувши тут';
      border: 1px solid $lightBlue;
      @media screen and (max-width: 500px) {
        bottom: 150px;
      }
    }

    #btn_order:hover,
    #btn_ask:hover {
      background-color: $darkBlue;
      animation: none;
    }
    #btn_ask:hover {
      color: $lightBlue_opacity_9;
    }
    #btn_order:hover {
      color: rgba(255, 196, 0);
    }
    #btn_ask {
      bottom: 40px;
      background-color: $lightBlue;
    }
  }
  .header_content {
    font-family: 'EB Garamond', serif;
    height: 100%;
    padding: 40vh 50px 50px;

    text-align: center;
    @extend %font_extralarge;
    text-shadow: 0px 0px 10px black;
    h1 {
      transition: 2s;
      transform: translateY(100px);
    }
    .headline_active {
      transform: translateY(0px);
    }
    p {
      @extend %font_normal;
    }
    #btn_learn_detailed {
      cursor: pointer;
      font-size: 18px;
      position: absolute;
      text-decoration: none;
      bottom: 30px;
      left: calc(50% - 74px);
      border-bottom: 1px solid transparent;
      color: $lightBlue;
      opacity: 0.3;
    }
    #btn_learn_detailed:hover {
      opacity: 0.5;
      border-bottom: 1px solid $lightBlue;
    }
  }
}
