.header {
  width: 100%;
  height: 100vh;

  // background: $lightBlue url(../img/header_fon.jpg) no-repeat center;
  // background-size: cover;
  background: linear-gradient(45deg, #f17c58, #e94584, #24aadb, #27dbb1, #ffdc18, #ff3706);
  background-size: 600% 100%;
  animation: gradient 16s linear infinite;
  animation-direction: alternate;

  font-family: 'Alice', serif;
  .menu {
    font-family: 'PT Sans Caption', sans-serif;
    position: fixed;
    width: 100%;
    z-index: 1;

    a:visited,
    a:link,
    a {
      color: white;
      text-decoration: none;
      transition: 0.3s;
    }

    .phone_menu {
      transform: translateY(-150vh);
      transition: 1s;
      display: flex;
      position: fixed;
      bottom: 0px;
      height: calc(100vh - 70px);
      width: 250px;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 30px;

      background-image: linear-gradient($darkBlue-opacity_2 0%, rgba(6, 0, 41, 0.9));

      @extend %font_large;

      .phone_list {
        display: flex;
        flex-direction: column;
        overflow: scroll;
        margin-top: 50px;
        border-left: 1px solid $lightBlue;

        @media screen and (max-height: 650px) {
          margin-top: 20px;
          font-size: 20px;
        }

        @media screen and (max-height: 550px) {
          margin-top: 10px;
          font-size: 16px;
          .phone_list_item {
            margin-bottom: 0px;
          }
        }

        .phone_list_item {
          padding: 10px;
          margin-bottom: 10px;
          border-bottom-width: 2px;
          border-style: solid;
          border-color: transparent;
        }

        .phone_list_item:hover {
          border-color: $lightBlue;
        }

        #phone_btn_order a {
          color: orange;
        }
      }

      .phone_social_list {
        display: flex;
        flex-direction: row;
        justify-content: start;
        margin-bottom: 40px;

        li {
          padding: 0px 10px;
        }
        li a:hover {
          color: $lightBlue;
        }
      }
    }
    @media screen and (max-width: 1075px) {
      .phone_menu_active {
        transform: translateY(0);
      }
    }

    .menu_list {
      height: 70px;
      background-image: linear-gradient($darkBlue-opacity_6, $darkBlue-opacity_2);
      width: 100%;
      max-width: 1440px;
      margin: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0px 20px;

      .btn_phone_menu {
        display: none;
        transition: 0.4s;
        cursor: pointer;
        position: fixed;
        transform: translate(-50%, -50%);
        top: 35px;
        left: 35px;

        .bar1,
        .bar2,
        .bar3 {
          width: 28px;
          height: 3px;
          background-color: white;
          margin: 5px 0;
        }

        @media screen and (max-width: 1075px) {
          display: inline-block;
        }
      }
      .btn_phone_menu_active {
        z-index: 101;
        position: fixed;

        .bar1 {
          transform: rotate(-45deg) translate(-4px, 4px);
        }

        .bar2 {
          opacity: 0;
        }

        .bar3 {
          transform: rotate(45deg) translate(-6px, -7px);
        }
      }

      #logo {
        img {
          width: 70px;
        }
        @media screen and (max-width: 1075px) {
          position: absolute;
          right: 20px;
        }
      }

      .item_desktop_menu {
        display: flex;
        flex-direction: row;
        text-transform: uppercase;
        li {
          margin: 0px 20px;
        }
        li a:hover {
          color: $lightBlue;
        }
        @media screen and (max-width: 1075px) {
          display: none;
        }
      }

      .menu_social_item {
        display: flex;
        flex-direction: row;
        position: relative;
        right: 40px;

        li {
          margin: 0px 2px;
          height: 30px;
          font-size: 22px;
          width: 30px;
          background-color: white;
          border-radius: 50%;
          text-align: center;
          line-height: 32px;

          a:visited,
          a:link,
          a {
            color: black;
          }
        }
        li:hover {
          background-color: $darkBlue-opacity_6;
        }
        li:hover a {
          color: $lightBlue;
        }

        @media screen and (max-width: 1075px) {
          display: none;
        }
      }
    }
    @keyframes forNavBtn {
      0% {
        transform: rotate(0deg);
      }
      85% {
        transform: rotate(0deg);
        right: 20px;
      }
      88% {
        transform: rotate(30deg);
        right: 30px;
      }
      91% {
        transform: rotate(-20deg);
      }
      94% {
        transform: rotate(10deg);
      }
      97% {
        transform: rotate(-5deg);
        right: 20px;
      }
      100% {
        transform: rotate(0deg);
      }
    }

    #btn_order,
    #btn_ask {
      animation: forNavBtn 4s linear 0s infinite;
      display: block;
      position: fixed;
      height: 50px;
      width: 50px;
      text-align: center;
      @extend %font_large;
      color: black;
      text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
      line-height: 50px;
      border-radius: 50%;
      right: 20px;
      bottom: 110px;
      background-color: rgba(255, 196, 0, 0.9);
      box-shadow: 0px 0px 10px -4px black;
      @media screen and (max-width: 500px) {
        height: 75px;
        line-height: 75px;
        width: 75px;
        font-size: 30px;
        bottom: 130px;
        right: 30px;
      }
    }
    #btn_order:hover::after,
    #btn_ask:hover::after {
      cursor: pointer;
      content: 'Gets or sets whether the text layout grid uses two dimensions.';
      display: block;
      position: relative;
      line-height: 14px;
      border: 1px solid orange;
      color: black;
      padding: 30px;
      border-radius: 50px;
      border-bottom-right-radius: 0px;
      width: min-content;
      left: -110px;
      bottom: 190px;

      font-size: 12px;
      background-color: white;
    }

    #btn_ask:hover::after {
      content: 'Gets or sets whether the text layout grid uses two dimensions.';
      border: 1px solid $lightBlue;
    }

    #btn_order:hover,
    #btn_ask:hover {
      background-color: $darkBlue;
      animation: none;
    }
    #btn_ask:hover {
      color: $lightBlue_opacity_9;
    }
    #btn_order:hover {
      color: rgba(255, 196, 0);
    }
    #btn_ask {
      bottom: 40px;
      background-color: $lightBlue;
    }
  }
  .header_content {
    font-family: 'EB Garamond', serif;
    height: 100%;
    padding: 40vh 50px 50px;

    text-align: center;
    @extend %font_extralarge;
    text-shadow: 0px 0px 10px black;
    p {
      @extend %font_normal;
    }
    #btn_learn_detailed {
      cursor: pointer;
      font-size: 18px;
      position: absolute;
      bottom: 30px;
      left: calc(50% - 74px);
      border-bottom: 1px solid transparent;
      color: $lightBlue;
    }
    #btn_learn_detailed:hover {
      border-bottom: 1px solid $lightBlue;
    }
  }
}
