section {
  width: 100%;
  padding: 0px;

  @media screen and (max-width: 600px) {
    padding: 5vh 0px;
  }

  > div {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    justify-content: space-around;
    padding: 20px 0px;

    @media screen and (max-width: 600px) {
      flex-direction: column;
      align-items: center;
    }
    > div {
      width: 50%;
      font-family: 'PT Sans Caption';

      h2 {
        font-family: 'Cormorant Garamond', serif;
        font-size: 32px;
        line-height: 60px;
        margin-left: 40px;
      }
      h3 {
        font-family: 'Cormorant Garamond', serif;
        font-size: 28px;
        line-height: 42px;
        margin-left: 40px;
      }
      h4 {
        font-family: 'Cormorant Garamond', serif;
        font-size: 20px;
        line-height: 32px;
      }
      p {
        font-size: 16px;
        line-height: 28px;
        margin-left: 20px;
        text-shadow: 0px 0px 1px white;
      }

      ul {
        list-style-type: circle;
        margin-left: 20px;
        li {
          font-size: 20px;
          line-height: 1.1;
          line-height: 32px;
        }
      }
    }
  }
}
.description {
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;

  > div {
    justify-content: start;

    > div {
      transition: 1.5s;
      width: 40%;
    }
    > div:first-child {
      padding: 20vh 0px;
      width: 60%;
      z-index: 10;
      @media screen and (max-width: 600px) {
        width: 100%;
      }
    }
  }
  .description_img {
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    z-index: 10;
    margin: 0px 15px 100px;
  }

  ul {
    list-style: none;
    li {
      margin-bottom: 10px;
    }
  }

  @media screen and (max-width: 750px) {
    background-position: 100% 100%;
    background-size: 75%;

    > div {
      > div {
        width: 100%;
      }
    }
  }

  p {
    margin: 50px;
    @media screen and (max-width: 870px) {
      margin: 50px 15px;
    }

    a {
      color: rgb(0, 43, 63);
    }
  }

  @media screen and (max-width: 600px) {
    padding-bottom: 40vh;
  }
}

.specifications {
  background-color: rgb(0, 183, 255);
  background-position: -20% 50%;
  background-repeat: no-repeat;
  background-size: 70%;

  > div {
    > div {
      padding: 20vh 0px;
    }
    > div:first-child {
      padding: 0px;
      width: 70%;
      z-index: 10;

      @media screen and (max-width: 600px) {
        width: 100%;
      }
    }

    h4 {
      color: white;
    }

    div {
      > ul {
        list-style: none;
        margin-left: 20px;
        padding: 5px;
        padding-bottom: 10px;

        li > ul {
          list-style: none;
          padding: 5px;
          margin-left: -12px;

          > li {
            border-left: 3px solid transparent;
            margin-bottom: 15px;
          }
          > li:hover {
            border-left: 3px solid rgba(255, 255, 255, 1);
          }
        }

        li {
          padding: 5px;
          font-size: 14px;
          line-height: 22px;
          border: 1px solid transparent;
          color: rgb(44, 43, 42);

          margin-bottom: 40px;

          span {
            font-size: 16px;
            margin-right: 10px;
            color: black;
          }
        }
        > li:hover {
          border-left: 1px solid rgba(255, 255, 255, 0.5);
        }
      }
    }
  }

  @media screen and (max-width: 700px) {
    > div {
      > div {
        padding: 0px;

        @media screen and (max-width: 600px) {
          width: 100%;
          padding: 0px;
        }
      }
    }
    ul {
      padding: 0px;
    }
  }

  @media screen and (max-width: 600px) {
    padding-bottom: 40vh;
  }
}
.accessories {
  > div {
    > div:first-child {
      padding: 20vh 0px;
      width: 40%;
      max-width: 500px;
      @media screen and (max-width: 600px) {
        width: 100%;
      }
    }
    > div {
      transition: 1.5s;
      z-index: 10;
      @media screen and (max-width: 600px) {
        width: 100%;
        padding: 0px;
      }
    }
  }

  ul {
    list-style: none;
    padding: 5px;
    padding-bottom: 10px;
    > ul {
      margin-left: 40px;
    }
    li {
      transition: 0.5s;
      padding: 50px 5px 30px;
      font-size: 16px;
      line-height: 22px;
      border: none;
      border-right: 1px solid rgb(0, 191, 255);
      position: relative;
      margin: 0px 0px;

      h4 {
        color: black;
      }
      button {
        transition: 1s;
        opacity: 0;
        background-color: transparent;
        position: absolute;
        bottom: 0px;
        right: 0px;
        border: none;
        border-bottom: 1px solid $lightBlue;
        font-size: 15px;
        color: $lightBlue;
        cursor: pointer;

        span {
          font-size: 13px;
          color: $darkBlue;
          position: relative;
        }
      }
      @keyframes click {
        0% {
          transform: translateY(-15px);
        }
        20% {
          transform: translateY(10px);
        }
        40% {
          transform: translateY(-5px);
        }
        60% {
          transform: translateY(3px);
        }
        80% {
          transform: translateY(-1px);
        }
        100% {
          transform: translateY(0px);
        }
      }

      @keyframes clickMarck {
        0% {  
          height: 0px;
          width: 0px;
        }
        20% {
          height: 8px;
          width: 0px;
        }
        100% {
          height: 8px;
          width: 13px;
        }
      }

      .click i::after{
        content: '';
        display: block;
        border: 3px solid white;
        border-top: transparent;
        border-right: transparent;
        position: absolute;
        transform: rotate(-45deg);
        left: 3px;
        top: 8px;
        animation: 1s clickMarck ease-in-out forwards;
      }
      .click {
        i {
          font-size: 25px;
          position: relative;
          animation: 1s click linear;
        }
      }
    }
    > li:hover {
      border-right: 1px solid rgb(0, 5, 80);
    }
    > li:hover button {
      opacity: 1;
      border-bottom: 1px solid rgb(0, 5, 80);
      font-size: 20px;
      color: orange;
    }
  }

  @media screen and (max-width: 600px) {
    padding-bottom: 40vh;
  }
}

.question {
  background-color: $lightBlue;
  background-image: linear-gradient(rgb(6, 0, 41, 0.1), rgb(6, 0, 41)), url(../img/Edit.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  vertical-align: middle;
  align-items: center;
  padding: 100px 0px;
  text-align: center;

  div {
    width: 100%;
    max-width: 500px;

    div {
      > h2 {
        line-height: 40px;
        margin-bottom: 50px;
        margin-left: 0px;
        color: white;
        text-shadow: 0px 0px 10px black;

        transform: translateY(200px);
        opacity: 0;
        transition: 2s;

        @media screen and (max-width: 400px) {
          font-size: 28px;
        }
      }

      .headline_question_active {
        transform: translateY(0px);
        opacity: 1;
      }

      form {
        transform: translateY(200px);
        opacity: 0;
        transition: 2s;

        p{
          color: white;
        }
      }

      .order_form_active {
        transform: translateY(0px);
        opacity: 1;
      }

      input,
      textarea {
        margin: 5px;
        border: 1px solid $lightBlue;
        color: white;
        background-color: transparent;
        overflow: hidden;
        padding: 20px;
        font-size: 16px;
        box-shadow: 0px 0px 20px -5px black, 0px 0px 0px 100px rgba(0, 0, 0, 0.5) inset;

        @media screen and (max-width: 400px) {
          width: calc(100% - 52px);
        }
      }

      input:hover,
      textarea:hover {
        border: 1px solid rgb(111, 219, 255);
      }

      input:focus,
      textarea:focus {
        border: 1px solid orange;
      }

      input[type='submit'] {
        color: $lightBlue;
        cursor: pointer;
        margin: 30px auto;
      }

      .question_mail {
        width: calc(100% - 52px);
        max-width: 390px;
      }

      .question_description {
        height: 100px;
        width: calc(100% - 52px);
        max-width: 390px;
      }
    }
  }
}

footer {
  position: relative;
  padding: 50px 0px;
  background-color: $darkBlue;
  color: white;

  > div {
    margin: auto;
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    justify-content: space-around;

    @media screen and (max-width: 550px) {
      flex-direction: column;
    }

    li {
      margin: 10px 5px;

      a {
        color: white;
        text-decoration: none;
        line-height: 1;
      }
    }
    .other li a {
      border-bottom: 1px solid rgba(0, 191, 255, 0.3);
    }
    .other li a:hover {
      border-bottom: 1px solid rgba(0, 191, 255);
    }

    li:first-child {
      border: none;
    }

    > div {
      width: 50%;
      font-family: 'PT Sans Caption';
      font-size: 14px;
      display: flex;
      justify-content: center;
      padding: 20px 20px;
      @media screen and (max-width: 550px) {
        justify-content: center;
      }

      @media screen and (max-width: 400px) {
        padding: 5px 20px;
      }
    }
  }
  .footer_sign {
    font-size: 12px;
    position: absolute;
    bottom: 10px;
  }
  .footer_social_list {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    justify-content: center;
    text-align: center;

    li a:hover {
      color: $lightBlue;
    }

    @media screen and (max-width: 550px) {
      flex-direction: row;
      padding: 20px 0px;
    }
  }
}
