section {
  width: 100%;
  padding: 10vh 0px;

  @media screen and (max-width: 600px) {
    padding: 5vh 0px;
  }

  > div {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    justify-content: space-around;

    @media screen and (max-width: 600px) {
      flex-direction: column;
    }

    > div {
      width: 50%;
      font-family: 'PT Sans Caption';

      h2 {
        font-size: 32px;
        line-height: 60px;
        margin-left: 40px;
      }
      h3 {
        font-size: 28px;
        line-height: 42px;
        margin-left: 40px;
      }
      h4 {
        font-size: 20px;
        line-height: 32px;
      }
      p {
        font-size: 18px;
        line-height: 28px;
        margin-left: 20px;
        text-shadow: 0px 0px 1px white;
      }

      ul {
        list-style-type: circle;
        margin-left: 20px;
        li {
          font-size: 20px;
          line-height: 1.1;
          line-height: 32px;
        }
      }
    }

    // .description_img {
    // }
  }
}
.description {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.1), transparent),
    url(../img/description_img.jpg);
  background-color: white;
  background-position: 110% 50%;
  background-repeat: no-repeat;
  background-size: 65%;

  > div {
    justify-content: start;
    > div {
      width: 50%;
    }
  }
  
  ul{
    margin-left: 40px;
  }

  @media screen and (max-width: 750px) {
    background-position: 100% 100%;
    background-size: 75%;

    > div {
      > div {
        width: 100%;
      }
    }
  }

  p {
    margin-bottom: 50px;
    margin-right: 100px;
  }

  @media screen and (max-width: 650px) {
    background-position: 50% 57%;
    background-size: 80%;
    padding: 5vh 0px;

    p {
      margin-bottom: 300px;
    }
  }
  @media screen and (max-width: 500px) {
    background-size: 100%;

    p {
      margin-bottom: 400px;
      margin-right: 0px;
    }
  }
  @media screen and (max-width: 500px) {
    background-position: 50% 62%;
    background-size: 105%;

    p {
      margin-bottom: 300px;
    }
  }
}

.specifications {
  background-color: $lightBlue;
  background-position: -20% 50%;
  background-repeat: no-repeat;
  background-size: 70%;

  .specifications_img {
    border: 1px solid white;
    height: 80vh;
    margin-left: 20px;

    .specifications_bar {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      position: absolute;
      bottom: 0px;
      left: 0px;

      li {
        width: 40px;
        height: 40px;
      }
    }
  }

  @media screen and (max-width: 600px) {
    .specifications_img {
      order: -1;
      height: 45vh;
      width: calc(100% - 2px);
      margin: 0px;
      background: $lightBlue;

      .specifications_bar {
        height: 100%;
        flex-direction: column;
        top: 0px;
        left: -20px;
      }
    }
    > div {
      > div {
        width: 100%;
        padding: 0px;
      }
    }
  }

  ul {
    list-style: none;
    margin-left: 20px;
    padding: 5px;
    padding-bottom: 10px;
    > ul {
      margin-left: 40px;
    }
    li {
      padding: 5px;
      font-size: 16px;
      line-height: 22px;
      border: 1px solid rgba(255, 255, 255, 0.4);
      border-right: 1px solid transparent;
      border-bottom: 1px solid transparent;

      big {
        color: rgb(255, 200, 0);
      }
    }
    > li:hover {
      border: 1px solid rgba(255, 255, 255, 0.8);
      border-right: 1px solid transparent;
      border-bottom: 1px solid transparent;
    }
  }
  @media screen and (max-width: 700px) {
    > div {
      > div {
        padding: 0px;
      }
    }
    ul {
      padding: 0px;
    }
  }
}

.accessories {
  > div {
    > div {
      padding-left: 0px;
    }
  }

  ul {
    list-style: none;
    padding: 5px;
    padding-bottom: 10px;
    > ul {
      margin-left: 40px;
    }
    li {
      padding: 5px;
      font-size: 16px;
      line-height: 22px;
      border: 1px solid rgb(0, 191, 255);
      border-left: 1px solid transparent;
      border-bottom: 1px solid transparent;

      h4 {
        color: rgb(255, 200, 0);
      }
    }
    > li:hover {
      border: 1px solid rgb(0, 5, 80);
      border-left: 1px solid transparent;
      border-bottom: 1px solid transparent;
    }
  }
  .accessories_img {
    border: 1px solid rgb(0, 191, 255);
    height: 80vh;
    margin: 0px 10px;

    .accessories_bar {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      position: absolute;
      bottom: 0px;
      left: 0px;

      li {
        width: 40px;
        height: 40px;
      }
    }
  }
  @media screen and (max-width: 600px) {
    .accessories_img {
      background: $lightBlue;
      margin: 0px;
      width: calc(100% - 2px);
      height: 45vh;
      order: -1;

      .accessories_bar {
        flex-direction: column;
        top: 0px;
        left: -20px;
      }
    }
    > div {
      > div {
        width: 100%;
        padding: 0px;
      }
    }
  }
}

.question {
  background-color: $lightBlue;
  vertical-align: middle;
  align-items: center;
  padding: 100px 0px;
  text-align: center;

  div {
    width: 90%;
    margin: auto;

    div {
      padding: 0px 200px;
      @media screen and (max-width: 850px) {
        padding: 0px 100px;
      }
      @media screen and (max-width: 600px) {
        padding: 0px;
      }

      h2 {
        line-height: 40px;
        margin-bottom: 50px;
        margin-left: 0px;

        @media screen and (max-width: 400px) {
          font-size: 28px;
        }
      }

      input {
        margin: 5px;
        border: 1px solid $darkBlue;
        background-color: $lightBlue;
        overflow: hidden;
        padding: 20px;
        font-size: 16px;
      }

      input:hover {
        border: 1px solid rgb(111, 219, 255);
      }

      input:focus {
        border: 1px solid orange;
      }

      input[type='submit'] {
        color: rgb(9, 56, 71);
        cursor: pointer;
        margin: 30px auto;
      }
    }
  }
}

footer {
  position: relative;
  padding: 50px 0px;
  background-color: $darkBlue;
  color: white;

  > div {
    margin: auto;
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    justify-content: space-around;

    @media screen and (max-width: 480px) {
      flex-direction: column;
    }

    > div {
      width: 50%;
      font-family: 'PT Sans Caption';
      display: flex;
      justify-content: center;
      padding: 0px 30px;
    }
  }
  .footer_sign {
    font-size: 12px;
    position: absolute;
    bottom: 10px;
  }
  .footer_social_list {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    justify-content: center;

    @media screen and (max-width: 480px) {
      flex-direction: row;
      padding: 20px 0px;
    }

    li {
      padding: 0px 10px;
      a {
        color: white;
      }
    }
    li a:hover {
      color: $lightBlue;
    }
  }
}
